body
{
	color: #000000;
	background-color: #D4D0C8;
	font-family: "‚l‚r ‚oƒSƒVƒbƒN";
	font-size: 16px;
	line-height: 18px;
}

#message
{
	font-size: 16px;
	line-height: 18px;
}

#maintitle
{
	font-size: 24px;
}

.commentinfo
{
}

.commentbody
{
}

.popup
{
	background-color: #FFFFC0;
	border-style: solid;
	border-width: 1px;
	border-color: #808000;
	padding-left: 12px;
	padding-right: 12px;
	position: absolute;
}

.fixedpopup
{
	background-color: #C0FFC0;
	border-color: #008000;
}

table#uithreadlist
{
	border: 1px solid #A0A0A0;
	border-collapse: collapse;
}

table#uithreadlist th
{
	border: 1px solid #A0A0A0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

table#uithreadlist td
{
	border: 1px solid #A0A0A0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

.uilistitem
{
	color: #000000;
	text-decoration: none;
}

.uilistitem:hover
{
	text-decoration: underline;
}

.uilistnum
{
	text-align: right;
}

table#uibbsmenu td
{
	vertical-align: top;
}

.bbsmenucate
{
	width: 105px;
	height: 16px;
	color: #800000;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bbsmenuitem
{
	width: 105px;
	font-size: 14px;
	height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bbsmenuitem a
{
	color: #000000;
	text-decoration: none;
}

.bbsmenuitem a:hover
{
	text-decoration: underline;
}
